body {
  font-family: "Roboto";
}

.container {
  padding: 0 calc(50vw - 600px);
}

.header {
  display: flex;
  gap: 60px;
  padding-top: 79px;
}
.header__link-active {
  color: #34547a;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 10%;
  line-height: 164%;
  cursor: pointer;
}
.header__link {
  color: #000000;
  text-decoration: none;
  letter-spacing: 10%;
  line-height: 164%;
  cursor: pointer;
}

.header__button {
  display: none;
}

.hero-section {
  background-color: #eeeff1;
}
.hero-section-content {
  display: flex;
  flex-direction: column;
}
.hero-section-content__heading {
  font-size: 48px;
  font-weight: 500;
  line-height: 164%;
  padding: 162px 0 60px 0;
  margin: 0;
}
.hero-section-content__text {
  width: 500px;
  color: #727272;
  margin: 0;
  line-height: 164%;
  padding: 0;
}
.hero-section-content__button {
  width: 225px;
  background-color: #34547a;
  color: #ffffff;
  padding: 20px 41px;
  border-style: none;
  text-transform: uppercase;
  margin: 65px 0 141px 0;
}
.hero-section-content__button__text {
  font-size: 16px;
  line-height: 164%;
  letter-spacing: 10%;
}

.about-section {
  background-color: #ffffff;
}

.about-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.about-section-content__heading {
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  padding: 112px 0 50px 0;
  margin: 0;
}
.about-section-content__text {
  width: 500px;
  color: #727272;
  margin: 0;
  line-height: 164%;
  padding: 0 0 100px 0;
}

.numbers-section {
  background-color: #34547a;
}

.numbers-section-content {
  display: flex;
  justify-content: center;
}
.numbers-section-content__item {
  display: flex;
  padding: 100px 0;
}
.numbers-section-content__item-block {
  padding: 0 49px 0 20px;
  display: flex;
  flex-direction: column;
}
.numbers-section-content__item__number {
  font-weight: 500;
  font-size: 21px;
  line-height: 100%;
  color: #ffffff;
}
.numbers-section-content__item__text {
  font-size: 16px;
  line-height: 164%;
  color: #ffffff;
}

.work-section {
  background-color: #eeeff1;
}

.work-section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  aspect-ratio: 16/9;
}
.work-section-content__heading {
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  padding: 100px 0 50px 0;
  margin: 0;
}
.work-section-content__text {
  width: 500px;
  color: #727272;
  margin: 0;
  line-height: 164%;
  padding: 0 0 57px 0;
}

.video {
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
}

.footer-section {
  background-color: #34547a;
}

.footer-content {
  padding: 48px 0 50px 0;
}
.footer-content__name {
  font-weight: 500;
  line-height: 100%;
  font-size: 21px;
  color: #ffffff;
  margin: 0;
  padding-bottom: 22px;
}
.footer-content__text {
  font-size: 13px;
  line-height: 164%;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
  .header {
    display: flex;
    padding-top: 40px;
  }
  .header__link-active {
    display: none;
  }
  .header__link {
    display: none;
  }
  .header__button {
    display: block;
    padding: 10px;
    background-color: #34547a;
  }
  .header__button:focus .header__button-active {
    display: flex;
    flex-direction: column;
  }
  .header__button-active {
    display: none;
    position: fixed;
    top: 0;
    left: -1px;
    bottom: 0;
    background-color: #34547a;
  }
  .button__link-active {
    text-decoration: none;
    letter-spacing: 10%;
    line-height: 164%;
    cursor: pointer;
    color: #ffffff;
    padding: 20px 60px;
    font-weight: 500;
  }
  .button__link {
    text-decoration: none;
    letter-spacing: 10%;
    line-height: 164%;
    cursor: pointer;
    color: #ffffff;
    padding: 20px 60px;
  }
  .hero-section-content__heading {
    font-size: 26px;
    font-weight: 500;
    line-height: 164%;
    padding: 81px 0 30px 0;
    margin: 0;
  }
  .hero-section-content__text {
    width: 300px;
    color: #727272;
    margin: 0;
    line-height: 164%;
    padding: 0;
  }
  .hero-section-content__button {
    width: 180px;
    background-color: #34547a;
    color: #ffffff;
    padding: 10px 21px;
    border-style: none;
    text-transform: uppercase;
    margin: 16px 0 35px 0;
  }
  .hero-section-content__button__text {
    font-size: 16px;
    letter-spacing: 10%;
    line-height: 164%;
  }
  .about-section-content__heading {
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    padding: 56px 0 25px 0;
    margin: 0;
  }
  .about-section-content__text {
    width: 300px;
    color: #727272;
    margin: 0;
    line-height: 164%;
    padding: 0 0 50px 0;
  }
  .numbers-section-content {
    display: flex;
    flex-wrap: wrap;
  }
  .numbers-section-content__item {
    display: flex;
    padding: 50px 0;
  }
  .numbers-section-content__item-block {
    padding: 0 24px 0 15px;
    display: flex;
    flex-direction: column;
  }
  .numbers-section-content__item__number {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #ffffff;
  }
  .numbers-section-content__item__text {
    font-size: 16px;
    line-height: 164%;
    color: #ffffff;
  }
  .work-section-content__heading {
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    padding: 50px 0 25px 0;
    margin: 0;
  }
  .work-section-content__text {
    width: 300px;
    color: #727272;
    margin: 0;
    line-height: 164%;
    padding: 0 0 28px 0;
  }
  .video {
    padding-bottom: 50px;
  }
  .footer-content {
    padding: 48px 0 50px 0;
  }
  .footer-content__name {
    font-weight: 500;
    line-height: 100%;
    font-size: 16px;
    color: #ffffff;
    margin: 0;
    padding-bottom: 11px;
  }
  .footer-content__text {
    font-size: 12px;
    line-height: 164%;
    color: #ffffff;
  }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container {
    padding: 0 40px;
  }
  .header {
    display: flex;
    gap: 40px;
    padding-top: 60px;
  }
  .hero-section-content__heading {
    font-size: 32px;
    font-weight: 500;
    line-height: 164%;
    padding: 120px 0 40px 0;
    margin: 0;
  }
  .hero-section-content__text {
    width: 400px;
    color: #727272;
    margin: 0;
    line-height: 164%;
    padding: 0;
  }
  .hero-section-content__button {
    width: 200px;
    background-color: #eeeff1;
    color: #ffffff;
    padding: 15px 30px;
    border-style: none;
    text-transform: uppercase;
    margin: 48px 0 105px 0;
  }
  .hero-section-content__button__text {
    font-size: 16px;
    letter-spacing: 10%;
    line-height: 164%;
  }
  .about-section-content__heading {
    font-size: 28px;
    font-weight: 500;
    line-height: 100%;
    padding: 84px 0 38px 0;
    margin: 0;
  }
  .about-section-content__text {
    width: 500px;
    color: #727272;
    margin: 0;
    line-height: 164%;
    padding: 0 0 100px 0;
  }
  .numbers-section-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .numbers-section-content__item {
    display: flex;
    padding: 60px 0;
  }
  .numbers-section-content__item-block {
    padding: 0 49px 0 20px;
    display: flex;
    flex-direction: column;
  }
  .numbers-section-content__item__number {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #ffffff;
  }
  .numbers-section-content__item__text {
    font-size: 16px;
    line-height: 164%;
    color: #ffffff;
  }
  .work-section-content__heading {
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    padding: 100px 0 50px 0;
    margin: 0;
  }
  .work-section-content__text {
    width: 500px;
    color: #727272;
    margin: 0;
    line-height: 164%;
    padding: 0 0 38px 0;
  }
  .footer-content {
    padding: 35px 0 38px 0;
  }
  .footer-content__name {
    font-weight: 500;
    line-height: 100%;
    font-size: 18px;
    color: #ffffff;
    margin: 0;
    padding-bottom: 22px;
  }
  .footer-content__text {
    font-size: 14px;
    line-height: 164%;
    color: #ffffff;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1300px) {
  .container {
    padding: 0 40px;
  }
  .header {
    display: flex;
    gap: 40px;
    padding-top: 60px;
  }
  .hero-section-content__heading {
    font-size: 32px;
    font-weight: 500;
    line-height: 164%;
    padding: 120px 0 40px 0;
    margin: 0;
  }
  .hero-section-content__text {
    width: 400px;
    color: #727272;
    margin: 0;
    line-height: 164%;
    padding: 0;
  }
  .hero-section-content__button {
    width: 200px;
    background-color: #34547a;
    color: #ffffff;
    padding: 15px 30px;
    border-style: none;
    text-transform: uppercase;
    margin: 48px 0 105px 0;
  }
  .hero-section-content__button__text {
    font-size: 16px;
    letter-spacing: 10%;
    line-height: 164%;
  }
  .about-section-content__heading {
    font-size: 28px;
    font-weight: 500;
    line-height: 100%;
    padding: 84px 0 38px 0;
    margin: 0;
  }
  .about-section-content__text {
    width: 500px;
    color: #727272;
    margin: 0;
    line-height: 164%;
    padding: 0 0 100px 0;
  }
  .numbers-section-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .numbers-section-content__item {
    display: flex;
    padding: 60px 0;
  }
  .numbers-section-content__item-block {
    padding: 0 49px 0 20px;
    display: flex;
    flex-direction: column;
  }
  .numbers-section-content__item__number {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #ffffff;
  }
  .numbers-section-content__item__text {
    font-size: 16px;
    line-height: 164%;
    color: #ffffff;
  }
  .work-section-content__heading {
    font-size: 28px;
    font-weight: 500;
    line-height: 100%;
    padding: 100px 0 50px 0;
    margin: 0;
  }
  .work-section-content__text {
    width: 500px;
    color: #727272;
    margin: 0;
    line-height: 164%;
    padding: 0 0 38px 0;
  }
  .footer-content {
    padding: 35px 0 38px 0;
  }
  .footer-content__name {
    font-weight: 500;
    line-height: 100%;
    font-size: 18px;
    color: #ffffff;
    margin: 0;
    padding-bottom: 22px;
  }
  .footer-content__text {
    font-size: 14px;
    line-height: 164%;
    color: #ffffff;
  }
}

/*# sourceMappingURL=style.css.map */
